{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_setting_index' %}

{% block main %}
    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>{% trans from 'settings' %}settings{% endtrans %}</h4>
                        </div>
                        <div class="card-body">
                            <div class="default-tab">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">{% trans from 'settings' %}general{% endtrans %}</a>
                                        <a class="nav-item nav-link" id="nav-seo-tab" data-toggle="tab" href="#nav-seo" role="tab" aria-controls="nav-seo" aria-selected="false">{% trans from 'settings' %}seo{% endtrans %}</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">{% trans from 'settings' %}contact{% endtrans %}</a>
                                    </div>
                                </nav>
                                {{ form_start(settings_form) }}
                                <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                                    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="form-group">
                                            {{ form_label(settings_form.siteName) }}
                                            {{ form_errors(settings_form.siteName) }}
                                            {{ form_widget(settings_form.siteName) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.marqueeHomepage) }}
                                            {{ form_errors(settings_form.marqueeHomepage) }}
                                            {{ form_widget(settings_form.marqueeHomepage) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.listCategoryOnHomepage) }}
                                            {{ form_errors(settings_form.listCategoryOnHomepage) }}
                                            {{ form_widget(settings_form.listCategoryOnHomepage) }}
                                            <small class="form-text text-muted">Example: 15,5</small>
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.googleAnalytic) }}
                                            {{ form_errors(settings_form.googleAnalytic) }}
                                            {{ form_widget(settings_form.googleAnalytic) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.topKeyword) }}
                                            {{ form_errors(settings_form.topKeyword) }}
                                            {{ form_widget(settings_form.topKeyword) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.facebookMessenger) }}
                                            {{ form_errors(settings_form.facebookMessenger) }}
                                            {{ form_widget(settings_form.facebookMessenger) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.isShowSortOnCategory) }}
                                            {{ form_errors(settings_form.isShowSortOnCategory) }}
                                            {{ form_widget(settings_form.isShowSortOnCategory) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.isShowCommentOnPost) }}
                                            {{ form_errors(settings_form.isShowCommentOnPost) }}
                                            {{ form_widget(settings_form.isShowCommentOnPost) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.numberRecordOnPage) }}
                                            {{ form_errors(settings_form.numberRecordOnPage) }}
                                            {{ form_widget(settings_form.numberRecordOnPage) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-seo" role="tabpanel" aria-labelledby="nav-seo-tab">
                                        <div class="form-group">
                                            {{ form_label(settings_form.pageTitle) }}
                                            {{ form_errors(settings_form.pageTitle) }}
                                            {{ form_widget(settings_form.pageTitle) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.pageDescription) }}
                                            {{ form_errors(settings_form.pageDescription) }}
                                            {{ form_widget(settings_form.pageDescription) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.pageKeyword) }}
                                            {{ form_errors(settings_form.pageKeyword) }}
                                            {{ form_widget(settings_form.pageKeyword) }}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <div class="form-group">
                                            {{ form_label(settings_form.emailContact) }}
                                            {{ form_errors(settings_form.emailContact) }}
                                            {{ form_widget(settings_form.emailContact) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.hotLine1) }}
                                            {{ form_errors(settings_form.hotLine1) }}
                                            {{ form_widget(settings_form.hotLine1) }}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(settings_form.hotLine2) }}
                                            {{ form_errors(settings_form.hotLine2) }}
                                            {{ form_widget(settings_form.hotLine2) }}
                                        </div>
                                    </div>

                                    <input class="btn btn-primary" type="submit" value="{% trans from 'settings' %}save{% endtrans %}" />
                                </div>
                                {{ form_end(settings_form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
