<div class="list-group">
    <h3 class="list-group-item list-group-item-action active text-uppercase">
        {{ 'news.hot'|trans }}
    </h3>
    <div class="post-bxslider-wrapper">
        <div class="post-sidebar-bxslider">
            {% for row in posts %}
                <div class="item">
                    <a href="{{ path('news_show', {'slug': row.getUrl() }) }}" class="list-group-item td-list-group-item" title="{{ row.getTitle() }}">
                        <img
                            alt="{{ row.getTitle() }}"
                            src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_70_50') }}" />
                        <span>{{ row.getTitle() }}</span>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>