{% extends 'layout.html.twig' %}

{% block title %} {{category.getPageTitle()}} {% endblock %}
{% block description %} {{category.getPageDescription()}} {% endblock %}
{% block keyword %} {{category.getPageKeyword()}} {% endblock %}

{% block body %}
    <div class="container">
        {# breadcrumbs #}
        {{ include('news/components/breadcrumbs.html.twig') }}

        <div class="row">
            <div class="col-md-9">
                <h1>{{ category.getName() }}</h1>
                
                <div class="description">
                    <p>{{ category.getDescription()|raw }}</p>
                </div>

                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {{ include('news/components/sort.html.twig') }}

                    <ul class="list-unstyled">
                        {% for row in pagination %}
                            {{ include('news/components/items.html.twig') }}
                        {% endfor %}
                    </ul>
                {% else %}
                    <div class="no-record">
                        <p>{{ 'Do not have item on this page'|trans }}</p>
                    </div>
                {% endif %}

                {# Pagination #}
                {{ include('news/components/pagination.html.twig') }}
            </div>

            {# Side bar #}
            <div class="col-lg-3">
                {{ include('layout/sidebar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}