{% extends 'layout.html.twig' %}

{% block title %} {{category.getPageTitle()}} {% endblock %}
{% block description %} {{category.getPageDescription()}} {% endblock %}
{% block keyword %} {{category.getPageKeyword()}} {% endblock %}

{% block body %}
    <div class="container">
        {# breadcrumbs #}
        {{ include('news/components/breadcrumbs.html.twig') }}

        <div class="row category-list-items">
            <div class="col-md-8">
                <h1>{{ category.getName() }}</h1>
                
                <div class="description">
                    <p>{{ category.getDescription()|raw }}</p>
                </div>

                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    <ul class="list-unstyled list-news-items">
                        {% for row in pagination %}
                            {{ include('news/components/items.html.twig') }}
                        {% endfor %}
                    </ul>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    <div class="no-record">
                        <p>{{ 'Do not have item on this page'|trans }}</p>
                    </div>
                {% endif %}
            </div>

            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}