{% extends 'layout.html.twig' %}

{% block title %} {{category.getPageTitle()}} {% endblock %}
{% block description %} {{category.getPageDescription()}} {% endblock %}
{% block keyword %} {{category.getPageKeyword()}} {% endblock %}

{% block body %}
    <div class="container">
        {# breadcrumbs #}
        {{ include('news/components/breadcrumbs.html.twig') }}

        <div class="row category-list-items">
            <div class="col-12 col-md-12 col-lg-8">
                <h1>{{ category.getName() }}</h1>
                
                <div class="description">
                    <p>{{ category.getDescription()|raw }}</p>
                </div>

                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    <div class="list-news-items">
                        <div class="grid row">
                            {% for row in pagination %}
                                {{ include('news/components/itemsGrid.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    {{ include('news/components/noRecord.html.twig') }}
                {% endif %}
            </div>

            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}