{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block body %}
    <div class="container">
        {# breadcrumbs #}
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="news" itemscope itemtype="http://schema.org/Article">
                    {# Begin google snippet #}
                    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ absolute_url(path('news_show', {'slug': post.getUrl() })) }}"/>
                    <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                        <meta itemprop="url" content="{{ (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_255_220') }}">
                        <meta itemprop="width" content="255">
                        <meta itemprop="height" content="220">
                    </div>
                    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                            <meta itemprop="url" content="{{ absolute_url(asset('assets/images/logo.jpg')) }}">
                            <meta itemprop="width" content="600">
                            <meta itemprop="height" content="60">
                        </div>
                        <meta itemprop="name" content="@suanhaminhduy">
                    </div>
                    <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                        <meta itemprop="name" content="@suanhaminhduy"/>
                    </div>
                    <meta itemprop="datePublished" content="{{ post.getCreatedAt()|date("Y-m-d h:m:s") }}"/>
                    <meta itemprop="dateModified" content="{{ post.getUpdatedAt()|date("Y-m-d h:m:s") }}"/>
                    {# End google snippet #}

                    <h1 class="block-title" itemprop="headline">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ post.getContents()|raw }}
                    </div>
                </div>
            </div>

            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}