{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block body %}
    <div class="container">
        {# breadcrumbs #}
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-md-9">
                {# Breadcrum #}
                {# {{ wo_render_breadcrumbs() }} #}

                {# Title #}
                <h1>{{ post.getTitle() }}</h1>
                <div class="clearfix"></div>
                
                {# Content #}
                <div class="show-post">
                    {{ post.getContents()|raw }}
                </div>
                <div class="clearfix"></div>
            </div>

            {# Side bar #}
            <div class="col-lg-3">
                {{ include('layout/sidebar.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}