<div class="list-group">
    <a href="#" class="list-group-item list-group-item-action active text-uppercase">
        {{ 'news.recent'|trans }}
    </a>
    {% for row in posts %}
        <a href="{{ path('news_show', {'slug': row.getUrl() }) }}" class="list-group-item td-list-group-item" title="{{ row.getTitle() }}">
            <img
                alt="{{ row.getTitle() }}"
                src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_70_70') }}" />
            <span>{{ row.getTitle() }}</span>
        </a>
    {% endfor %}
</div>