{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'post.archives.title'|trans({'%title%': q, '%currentPage%': pagination.currentPageNumber, '%totalPage%': pagination.pageCount}) }}
{% endblock %}

{% block body %}
    {# breadcrumbs #}
    {{ include('news/components/breadcrumbs.html.twig',
        { type: 'category', title: 'Kết quả tìm kiếm cho từ khoá: "' ~ q ~ '"', description: 'Vui lòng tìm lại nếu không đúng kết quả cần tìm' })
    }}

    <div class="container wrapper-container">
        <div class="row category-list-items">
            <div class="col-12 col-md-12 col-lg-12">
                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    <div class="list-news-items">
                        <div class="row">
                            {% for row in pagination %}
                                {{ include('news/components/itemsGrid.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    {{ include('news/components/noRecord.html.twig') }}
                {% endif %}
            </div>
        </div>
        
        {{ render(controller(
            'AppBundle:News:listNewsByCategory', { 'categoryId': 2 }
        )) }}
    </div>
{% endblock %}