{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>Kết quả tìm kiếm cho từ khoá: "{{ q }}"</h1>

                {% if pagination|length > 0  %}
                    {# Sort items #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    <div class="col-md-12 list-news-items">
                        <div class="row">
                            {% for row in objectOnHomepage.posts %}
                                {{ include('news/components/itemsGridHomepage.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    <div class="no-record">
                        <p>{{ 'Do not have item on this page'|trans }}</p>
                    </div>
                {% endif %}
            </div>

            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}