{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block ogImage %}
    <meta property="og:image" content="{{ (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_120_120') }}" />
{% endblock %}
{% block twitterImage %}
    <meta property="twitter:image" content="{{ (vich_uploader_asset(post, 'imageFile') ? vich_uploader_asset(post, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_120_120') }}" />
{% endblock %}

{% block body %}
    <div class="container">
        {# breadcrumbs #}
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-12 col-md-12 col-lg-8">
                <div class="news">
                    <h1 class="block-title">{{ post.getTitle() }}</h1>
                    
                    <div class="news-container">
                        {{ post.getContents()|raw }}
                    </div>

                    {# List tags #}
                    {{ include('news/components/tags.html.twig') }}

                    {# Social share #}
                    {{ include('news/components/share.html.twig') }}

                    {# Related news #}
                    {{ include('news/components/related.html.twig') }}
                    
                    {# List comments #}
                    {{ include('news/comments/list.html.twig') }}
                    
                    {# Render form comment #}
                    {{ include('news/comments/form.html.twig') }}
                </div>
            </div>

            {# Side bar #}
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}