{% extends 'layout.html.twig' %}

{% block title %}
    {{ 'post.archives.title'|trans({'%title%': tag.getPageTitle() is not null ? tag.getPageTitle() : tag.getName(), '%currentPage%': pagination.currentPageNumber, '%totalPage%': pagination.pageCount}) }}
{% endblock %}
{% block description %}
    {{ tag.getPageDescription() }}
{% endblock %}
{% block keyword %}
    {{ tag.getPageKeyword() }}
{% endblock %}

{% block body %}
    {# breadcrumbs #}
    {{ include('news/components/breadcrumbs.html.twig', {type: 'category', title: tag.getName(), description: tag.getContents() }) }}

    <div class="container wrapper-container">
        <div class="row category-list-items">
            <div class="col-12 col-md-12 col-lg-12">
                {# List item on this page #}
                {% if pagination|length > 0  %}
                    {# Sort #}
                    {% if get_setting('isShowSortOnCategory') %}
                        {{ include('news/components/sort.html.twig') }}
                    {% endif %}

                    <div class="list-news-items">
                        <div class="row">
                            {% for row in pagination %}
                                {{ include('news/components/itemsGrid.html.twig') }}
                            {% endfor %}
                        </div>
                    </div>

                    {# Pagination #}
                    {{ include('news/components/pagination.html.twig') }}
                {% else %}
                    {{ include('news/components/noRecord.html.twig') }}
                {% endif %}
            </div>
        </div>

        {{ render(controller(
            'AppBundle:News:listNewsByCategory', { 'categoryId': 2 }
        )) }}
    </div>
{% endblock %}