{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_errors(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_errors(form.username) }}
        {{ form_widget(form.username) }}
    </div>
    <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_errors(form.current_password) }}
        {{ form_widget(form.current_password) }}
    </div>

    <div>
        <button type="submit" class="{{ button_css|default("btn btn-primary") }}">
            <i class="fa fa-save" aria-hidden="true"></i> {{ button_label|default('profile.edit.submit'|trans) }}
        </button>
    </div>
{{ form_end(form) }}
