<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <title>{% block title %}{{ get_setting('pageTitle') }}{% endblock %}</title>
        <meta name="description" content="{% block description %}{{ get_setting('pageDescription') }}{% endblock %}">
        <meta name="keywords" content="{% block keyword %}{{ get_setting('pageKeyword') }}{% endblock %}">
        
        <meta name="robots" content="index, follow" />
        <meta name="revisit-after" content="1 days">
        <meta http-equiv="content-language" content="vi">
        {% if app.request.attributes.get('_route') is not null %}
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}"/>
        {% endif %}
        
        <!-- Open Graph data -->
        {% if app.request.attributes.get('_route') is not null %}
        <meta property="og:url" content="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        {% endif %}
        <meta property="og:type" content="article" />
        <meta property="og:title" content="{{ block('title') }}" />
        <meta property="og:description" content="{{ block('description') }}" />
        <meta property="fb:app_id" content="1384538691837107" />
        {% block ogImage %}
        {% endblock %}

        <!-- Twitter Card data -->
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@xaydungminhduy">
        <meta name="twitter:title" content="{{ block('title') }}">
        <meta name="twitter:description" content="{{ block('description') }}">
        <meta name="twitter:creator" content="@xaydungminhduy">
        {% block twitterImage %}
        {% endblock %}

        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "url": "https://xaydungminhduy.com/",
            "potentialAction": {
                "@type": "SearchAction",
                "target": "https://xaydungminhduy.com/search?q={search_term_string}",
                "query-input": "required name=search_term_string"
            }
        }
        </script>

        <!-- Global site tag (gtag.js) - Google Analytics -->
        {{ get_setting('googleAnalytic')|raw }}

        <!-- Custom css -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid wrapper">
            {{ include('layout/header.html.twig') }}
            {{ include('layout/menu.html.twig') }}
            {{ include('layout/slide.html.twig') }}

            {% block body %}{% endblock %}

            {{ include('layout/footer.html.twig') }}
            {{ include('layout/footer_UI.html.twig') }}

            {{ get_setting('facebookMessenger')|raw }}
        </div>
    </body>
</html>
