{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_comment_edit' %}

{% block main %}
    <h1>{{ 'title.edit_comment'|trans({'%id%': comment.id}) }}</h1>

    {{ include('admin/comment/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}
    
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_comment_show', {id: comment.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_news'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
