<div class="rating-container">
    {{ ratingValue|rating }}
    <a href="form-rating-container" id="rating">
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
            <meta itemprop="name" content="{{ post.getTitle() }}">
            <span itemprop="ratingValue">{{ ratingValue }}</span> / <span itemprop="ratingCount">{{ ratingCount }}</span> votes
            <meta itemprop="bestRating" content="5">
            <meta itemprop="worstRating" content="1">
            <div itemprop="itemReviewed" itemscope itemtype="http://schema.org/CreativeWork"></div>
        </div>
    </a>
</div>

<div style="display:none">
    <div id="form-rating-container">
        <form action="{{ path('rating') }}" id="form-rating-review" data-news-id="{{ post.getId() }}">
            {{ form_widget(formRating.rating) }}
        </form>
        <p class="rating-message"></p>
    </div>
</div>