<div class="row list-group costs">
    <div class="col-md-12">
        <h3 class="list-group-item list-group-item-action active text-uppercase">
            Dự toán chi phí xây dựng
        </h3>
    </div>
    {{ form_start(form) }}
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.type) }}
            {{ form_errors(form.type) }}
            {{ form_widget(form.type) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.method) }}
            {{ form_errors(form.method) }}
            {{ form_widget(form.method) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.wide) }}
            {{ form_errors(form.wide) }}
            {{ form_widget(form.wide) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.long) }}
            {{ form_errors(form.long) }}
            {{ form_widget(form.long) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.floor) }}
            {{ form_errors(form.floor) }}
            {{ form_widget(form.floor) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.mong) }}
            {{ form_errors(form.mong) }}
            {{ form_widget(form.mong) }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            {{ form_label(form.mai) }}
            {{ form_errors(form.mai) }}
            {{ form_widget(form.mai) }}
        </div>
    </div>
    <div class="col-md-12">
        {{ form_widget(form.reset) }}
        {{ form_widget(form.caculator) }}
    </div>
    {{ form_end(form) }}
</div>