{% if comments|length > 0 %}
<div class="list-unstyled" id="list-comments">
    <h4><span>{{ 'count_comments' | trans({ '%count%':  comments|length}) }} </span></h4>
    {% for comment in comments %}
        <div class="media" id="comment-{{ comment.getId() }}">
            <img class="mr-3 img-thumbnail" src="{{ asset('assets/images/user.png') }}" alt="{{ comment.getAuthor() }} comment on this post {{ post.getTitle() }}">
            <div class="media-body">
                <h5 class="mt-0">{{ comment.getAuthor() }}</h5>
                <div class="comment-container">{{ comment.getContent()|raw }}</div>
                <a class="comment-reply-link" id="comment-reply" href="#" data-post-id="{{ comment.getId() }}">{{ 'Reply'|trans }}</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}