{% if comments|length > 0 %}
    <div id="list-comments">
        <h4 class="text-uppercase"><span>{{ 'comments.count' | trans({ '%count%': comments|length }) }} </span></h4>
        <ul class="media-list">
            {% for comment in comments %}
                <li class="media" id="comment-{{ comment.getId() }}">
                    <div class="media-left">
                        <img alt="{{ comment.getAuthor() }} comment on this post {{ post.getTitle() }}" class="media-object" src="{{ asset('assets/images/user.png') }}">
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.getAuthor() }}</h5>
                        <div class="comment-container">{{ comment.getContent()|raw }}</div>
                        <a class="comment-reply-link" id="comment-reply" href="#" data-post-id="{{ comment.getId() }}">{{ 'Reply'|trans }}</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}