{% if comments|length > 0 %}
    <div id="list-comments">
        <h4 class="text-uppercase"><span>{{ 'comments.count' | trans({ '%count%': comments|length }) }} </span></h4>
        <ul class="media-list">
            {% for comment in comments %}
                {% if comment.getCommentId is null %}
                <li class="media" id="comment-{{ comment.getId() }}">
                    <div class="media-left">
                        <img alt="{{ comment.getAuthor() }}" class="media-object" src="{{ asset('assets/images/user.png') | imagine_filter('user') }}">
                    </div>
                    <div class="media-body">
                        <h5 class="mt-0">{{ comment.getAuthor() }}</h5>
                        <div class="comment-container">{{ comment.getContent()|raw }}</div>
                        <a class="comment-reply-link" id="comment-reply" href="#" data-post-id="{{ comment.getId() }}">{{ 'comment.reply'|trans }}</a>
                        <ul class="media-list">
                        {% for replyComment in comments %}
                            {% if replyComment.getCommentId is same as (comment.getId()) %}
                                <li class="media">
                                    <div class="media-left">
                                        <img alt="{{ replyComment.getAuthor() is same as ('Webmaster') ? get_setting('displayNameCommentAs')|raw : replyComment.getAuthor() }}" class="media-object" src="{{ asset('assets/images/user.png') | imagine_filter('user') }}">
                                    </div>
                                    <div class="media-body">
                                        <h5 class="mt-0">{{ replyComment.getAuthor() is same as ('Webmaster') ? get_setting('displayNameCommentAs')|raw : replyComment.getAuthor() }}</h5>
                                        <div class="comment-container">{{ replyComment.getContent()|raw }}</div>
                                    </div>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </div>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endif %}