{% trans_default_domain 'FOSUserBundle' %}

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="">
                    <img class="align-content" src="{{ asset('assets/sufeeadmin/images/logo.png') }}" alt="">
                </a>
            </div>
            <div class="login-form">
                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {{ form_widget(form) }}

                    <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">{{ 'registration.submit'|trans }}</button>

                    <div class="register-link m-t-15 text-center">
                        <p>Already have account ? <a href="{{ path('fos_user_security_login') }}"> Sign in</a></p>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
