<div class="modal fade" id="showContact{% if object is defined %}{{ object.id }}{% endif %}" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ object.getName() }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ object.getEmail() }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{ object.getPhone() }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Content</th>
                                <td>{{ object.getContents() }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
