<!-- Begin header -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 text-left">
                <span class="header-phone">
                    <i class="fa fa-phone"></i>
                    <span class="hidden-xs hidden-sm">Hotline: </span><a href="tel:{{ get_setting('hotLine1') }}">{{ get_setting('hotLine1') }}</a>
                </span>
                <span class="header-email">
                    <i class="fa fa-envelope-o"></i>
                    <span class="hidden-xs hidden-sm">Email: </span><a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a>
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <span>Follow us: </span>
                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Xuyên Việt trên Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Xuyên Việt trên Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Xuyên Việt trên Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Xuyên Việt trên Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End header -->