<!-- Begin header -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <span>
                    <i class="fa fa-phone"></i>
                    0982.96.93.79
                </span>
                <span>
                    <i class="fa fa-envelope-o"></i>
                    xaydungminhduy@gmail.com
                </span>
            </div>
            <div class="col-md-6 text-right header-social">
                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Minh Duy trên Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Xây Dựng Minh Duy trên Google plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Minh Duy trên Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Minh Duy trên Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Minh Duy trên Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End header -->