<!-- Begin header -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 text-left">
                <span>
                    <i class="fa fa-phone"></i>
                    Hotline: <a href="tel:0981983379">0981 983 379</a>
                </span>
                <span>
                    <i class="fa fa-envelope-o"></i>
                    Email: <a href="mailto:xaydungxuyenviet123@gmail.com">xaydungxuyenviet123@gmail.com</a>
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <span>Follow us: </span>
                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Xuyên Việt trên Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToGooglePlus') }}" title="Xây Dựng Xuyên Việt trên Google plus">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Xuyên Việt trên Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Xuyên Việt trên Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Xuyên Việt trên Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End header -->