<!-- Begin header -->
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-8 col-md-6 text-left">
                <span class="header-phone">
                    <i class="fa fa-phone"></i>
                    <span class="hidden-xs hidden-sm">Hotline: </span><a href="tel:{{ get_setting('hotLine1') }}">{{ get_setting('hotLine1') }}</a>
                </span>
                <span class="header-email">
                    <i class="fa fa-envelope-o"></i>
                    <span class="hidden-xs hidden-sm">Email: </span><a href="mailto:{{ get_setting('emailContact') }}">{{ get_setting('emailContact') }}</a>
                </span>
            </div>
            <div class="col-12 col-sm-4 col-md-6 text-right header-social hidden-xs">
                <span>Follow us: </span>
                <a target="_blank" href="{{ get_setting('linkToFacebook') }}" title="Xây Dựng Xuyên Việt trên Facebook">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToTwitter') }}" title="Xây Dựng Xuyên Việt trên Twitter">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToYoutube') }}" title="Xây Dựng Xuyên Việt trên Youtube">
                    <i class="fa fa-youtube"></i>
                </a>
                <a target="_blank" href="{{ get_setting('linkToLinkedin') }}" title="Xây Dựng Xuyên Việt trên Linkedin">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="banner hidden-xs hidden-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3" id="logo_top">
                <div id="logo">								
                    <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                        <img alt="{{ get_setting('siteName') }}" src="{{ asset('assets/images/logo.jpg') }}">
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="info-top">
                    <div class="wp10">
                        <span><i class="fas fa-mobile-alt"></i></span>
                    </div>
                    <div class="wp90">
                        <div class="info-nd">
                            <p class="tel text-uppercase">XÂY DỰNG XUYÊN VIỆT</p>
                            <p>Hotline: 0981 98 33 79</p>
                            <p>Email: xuyenvietconstructions@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5 col-md-5">
                <div class="info-top">
                    <div class="wp10">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="wp90">
                        <div class="info-nd">
                            <p class="tel text-uppercase">VĂN PHÒNG GIAO DỊCH</p>
                            <p>417/4/9 Tân Sơn, Phường 12, Quận Gò Vấp, TP. HCM</p>
                            <p>Website: www.xaydungxuyenviet.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="logo-mobile hidden-sm hidden-md hidden-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{{ path('homepage') }}" title="{{ get_setting('siteName') }}">
                    <img src="{{ asset('assets/images/logo.jpg') }}" class="d-inline-block" alt="{{ get_setting('siteName') }}">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End header -->