<div class="row bxslider-wrapper">
    <div class="bxslider">
        <div class="item"><img src="{{ asset('assets/images/partner/partner-01.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-02.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-03.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-04.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-05.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-06.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-07.jpg') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
        <div class="item"><img src="{{ asset('assets/images/partner/partner-08.gif') }}" alt="Partner của Xây Dựng Xuyên Việt"></div>
    </div>
</div>