{% if showSlide is defined %}
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="{{ path('news_show', {'slug': 'thi-cong-xay-dung-quan-tra-sua-ten-ren-s-175-le-van-viet' }) }}">
                    <img src="{{ asset('assets/images/banner/banner-2.jpg') }}" alt="Tenren 175 Lê Văn Việt">
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>Tenren 175 Lê Văn Việt</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'thi-cong-quan-cafe-the-coffee-house-490-nguyen-thi-thap' }) }}">
                    <img src="{{ asset('assets/images/banner/banner-cafe-the-coffee-house-ntt.jpg') }}" alt="The Coffee House Nguyễn Thị Thập">
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>The Coffee House 490 Nguyễn Thị Thập</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'xay-nha-pho-4-tang-anh-huu-quan-12' }) }}">
                    <img src="{{ asset('assets/images/banner/banner-xay-nha-pho-3-tang-thay-hanh.jpg') }}" alt="Xây nhà phố 3 tầng, Thầy Hạnh">
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>Xây nhà phố 3 tầng, Thầy Hạnh</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="{{ asset('assets/images/banner/banner-01.png') }}" alt="Thiết kế thi công nội thất">
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>Thiết kế thi công nội thất</h3>
                    </div>
                </div>
            </div>
            <div class="item">
                <a href="{{ path('news_show', {'slug': 'du-an-sua-chua-trung-tam-anh-ngu-english-town-tran-quoc-thao-sai-gon' }) }}">
                    <img src="{{ asset('assets/images/banner/banner.jpg') }}" alt="English Town">
                </a>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h3>English Town</h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
{% endif %}