{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div class="alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}

<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-logo">
                <a href="{{ path('homepage') }}">
                    <img class="align-content" src="{{ asset('assets/sufeeadmin/images/logo.png') }}" alt="">
                </a>
            </div>
            <div class="login-form">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" class="form-control" />
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            {{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    {% endif %}
                    <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-primary btn-flat m-b-30 m-t-30" />
                </form>
            </div>
        </div>
    </div>
</div>
