<li class="media news-item" itemscope itemtype="http://schema.org/Article">
    <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="https://google.com/article"/>
    <a class="media-thumb" title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
        <img class="mr-3 img-thumbnail" src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_thumb') }}" alt="{{row.getTitle()}}">
        <meta itemprop="url" content="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_thumb') }}">
        <meta itemprop="width" content="218">
        <meta itemprop="height" content="150">
    </a>
    <div class="media-body">
        <h5 class="mt-0 mb-1">
            <a itemprop="headline" title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">{{ row.getTitle() }}</a>
        </h5>
        <div class="news-item-description" itemprop="description">{{ row.getDescription()|slice(0, 300) }}</div>
    </div>
    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <meta itemprop="url" content="{{ absolute_url(asset('assets/images/logo.jpg')) }}">
            <meta itemprop="width" content="600">
            <meta itemprop="height" content="60">
        </div>
        <meta itemprop="name" content="@suanhaminhduy">
    </div>
    <div itemprop="author" itemscope itemtype="https://schema.org/Person">
        <meta itemprop="name" content="@suanhaminhduy"/>
    </div>
    <meta itemprop="datePublished" content="{{ row.getCreatedAt()|date("Y-m-d h:m:s") }}"/>
    <meta itemprop="dateModified" content="{{ row.getUpdatedAt()|date("Y-m-d h:m:s") }}"/>
</li>