<div class="col-xs-12 col-sm-4 col-md-3 news-item" itemscope itemtype="http://schema.org/Article">
    <div class="news-item-wrapper">
        <meta itemscope itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage" itemid="{{ absolute_url(path('news_show', {'slug': row.getUrl() })) }}" />
        <a class="media-thumb" title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <img class="mr-3 img-thumbnail" src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_382_285') }}" alt="{{row.getTitle()}}" />
            <meta itemprop="url" content="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_382_285') }}" />
            <meta itemprop="width" content="382">
            <meta itemprop="height" content="285">
        </a>
        <div class="media-body">
            <h5 class="mt-0 mb-1">
                <a href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">
                    <span itemprop="headline">{{ row.getTitle() }}</span>
                </a>
            </h5>
            <p>{{ row.getDescription()|slice(0, 85) }}</p>
        </div>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ absolute_url(asset('assets/images/SuaNhaMinhDuy.png')) }}" />
                <meta itemprop="width" content="376" />
                <meta itemprop="height" content="218" />
            </div>
            <meta itemprop="name" content="@xaydungminhduy" />
        </div>
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="@xaydungminhduy" />
        </div>
        <meta itemprop="datePublished" content="{{ row.getCreatedAt()|date('Y-m-d h:m:s') }}" />
        <meta itemprop="dateModified" content="{{ row.getUpdatedAt()|date('Y-m-d h:m:s') }}" />
    </div>
</div>