<div class="news-item">
    <div class="news-item-wrapper">
        <a class="media-thumb" title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}">
            <img class="mr-3 img-thumbnail"
                src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_514_330') }}"
                srcset="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_260_195') }} 1024w,
                        {{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_514_330') }} 600w"
                alt="{{row.getTitle()}}" />
        </a>
        <div class="media-body">
            <h5 class="mt-0 mb-1">
                <a title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">
                    <span>{{ row.getTitle() }}</span>
                </a>
            </h5>
            <p>{{ row.getDescription()|slice(0, 85) }}</p>
        </div>
    </div>
</div>