<div class="col-xs-12 col-sm-3 col-md-3 news-item" itemscope itemtype="http://schema.org/Article">
    <div class="news-item-wrapper">
        <meta itemscope itemprop="mainEntityOfPage"  itemType="https://schema.org/WebPage" itemid="{{ absolute_url(path('news_show', {'slug': row.getUrl() })) }}"/>
        <a class="media-thumb" title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}" itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
            <img class="mr-3 img-thumbnail" src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_255_190') }}" alt="{{row.getTitle()}}">
            <meta itemprop="url" content="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_255_190') }}">
            <meta itemprop="width" content="255">
            <meta itemprop="height" content="190">
        </a>
        <div class="media-body">
            <h5 class="mt-0 mb-1">
                <a class="text-uppercase" title="{{ row.getTitle() }}" href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">
                    <span itemprop="headline">{{ row.getTitle() }}</span>
                </a>
            </h5>
            <p>{{ row.getDescription()|slice(0, 90) }}</p>
        </div>
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="{{ absolute_url(asset('assets/images/logo.jpg')) }}">
                <meta itemprop="width" content="600">
                <meta itemprop="height" content="60">
            </div>
            <meta itemprop="name" content="@suanhaminhduy">
        </div>
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="@suanhaminhduy"/>
        </div>
        <meta itemprop="datePublished" content="{{ row.getCreatedAt()|date("Y-m-d h:m:s") }}"/>
        <meta itemprop="dateModified" content="{{ row.getUpdatedAt()|date("Y-m-d h:m:s") }}"/>
    </div>
</div>