{% if relatedNews|length > 0 %}
    <div class="related-news">
        <h3>{{ 'news.news_related'|trans }}</h3>
        
        <div class="clearfix"></div>
        
        <div class="related-items">
            <div class="relatedslider">
            {% for row in relatedNews %}
                <div class="related-item">
                    <div class="related-wrapper">
                        <a class="related-img" href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">
                            <img class="mr-3 img-thumbnail" src="{{ (vich_uploader_asset(row, 'imageFile') ? vich_uploader_asset(row, 'imageFile') : asset('assets/images/no-image.png')) | imagine_filter('news_thumb') }}" alt="{{row.getTitle()}}">
                        </a>
                        <a class="related-title" href="{{ path('news_show', {'slug': row.getUrl() }) }}" title="{{ row.getTitle() }}">
                            {{ row.getTitle() }}
                        </a>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
{% endif %}