{% extends 'layout.html.twig' %}

{% block body %}
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <div class="contacts">

        {% for message in app.flashes('error') %}
            <div class="flash-error">
                {{ message }}
            </div>
        {% endfor %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <div class="g-recaptcha" data-sitekey="{{ get_setting('googleCapchaSiteKey') }}"></div>
    </div>
{% endblock %}