{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container contacts">
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-md-8">
                {% for message in app.flashes('error') %}
                    <div class="flash-error">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}