{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container wrapper-container contacts">
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="company">
                    <h3 class="text-uppercase">Xây Dựng Xuyên Việt</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>65 Nguyễn Chánh Sắt, Phường 13, Quận Tân Bình, TP. HCM</span>
                        </li>
                        <li>
                            <i class="fab fa-artstation"></i>
                            <span>Mã số thuế: 0314513901</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Hotline: 0981 983 379 A Lọc</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email: xaydungxuyenviet123@gmail.com</span>
                        </li>
                        <li>
                            <i class="fa fa-internet-explorer"></i>
                            <span>Website: www.xaydungxuyenviet.com</span>
                        </li>
                    </ul>
                </div>
            
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.0714484774717!2d106.64231191469682!3d10.805839800200904!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529444b1218f5%3A0x5e54fc2e99a9c978!2zNjUgTmd1eeG7hW4gQ2jDoW5oIFPhuq90LCBQaMaw4budbmcgMTMsIFTDom4gQsOsbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1552453494289" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}