{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block body %}
    <div class="container contacts">
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-8">
                <div class="company">
                    <h3 class="text-uppercase">Xây Dựng Minh Duy</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span><strong>VPGD: 165 Đường 51, KP 4, P. Tân Quy, Quận 7, TP.HCM</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span><strong>VPGD: 108/40/10 Lê Văn Lương, KP 4, P. Tân Hưng, Quận 7, TP.HCM</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><strong>0982.96.93.79 A Minh</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span><strong>xaydungminhduy@gmail.com</strong></span>
                        </li>
                        <li>
                            <i class="fa fa-internet-explorer"></i>
                            <span><strong>www.xaydungminhduy.com</strong></span>
                        </li>
                    </ul>
                </div>
            
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            
            {{ include('layout/sidebar.html.twig') }}
        </div>
    </div>
{% endblock %}