{% extends 'layout.html.twig' %}

{% block title %}{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}{% endblock %}
{% block description %}{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}{% endblock %}
{% block keyword %}{{ post.getPageKeyword() }}{% endblock %}

{% block structuredOpenGraph %}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ post.getPageTitle() is not null ? post.getPageTitle() : post.getTitle() }}" />
    <meta property="og:description" content="{{ post.getPageDescription() is not null ? post.getPageDescription() : post.getDescription() }}" />
{% endblock %}

{% block body %}
    <div class="container wrapper-container contacts">
        {{ include('news/components/breadcrumbs.html.twig') }}
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="company">
                    <h3 class="text-uppercase">Xây Dựng Xuyên Việt</h3>
                    <ul>
                        <li>
                            <i class="fa fa-map-marker"></i>
                            <span>417/4/9 Tân Sơn, Phường 12, Quận Gò Vấp, TP. HCM</span>
                        </li>
                        <li>
                            <i class="fab fa-artstation"></i>
                            <span>Mã số thuế: 0315551441</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span>Hotline: {{ get_setting('hotLine1') }} A Lọc</span>
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i>
                            <span>Email: {{ get_setting('emailContact') }}</span>
                        </li>
                        <li>
                            <i class="fa fa-internet-explorer"></i>
                            <span>Website: www.xaydungxuyenviet.com</span>
                        </li>
                    </ul>
                </div>
            
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
                {% for message in app.flashes('notice') %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}

                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.6958921126716!2d106.64269463576359!3d10.834568522838685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529763e5d802b%3A0x39e2946ce6793519!2zNDE3LCA0IFTDom4gU8ahbiwgcGjGsOG7nW5nIDEyLCBHw7IgVuG6pXAsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1593660567193!5m2!1sen!2s" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}