{% extends 'admin/layout.html.twig' %}

{% block body_id 'login' %}
{% block body_class 'bg-dark' %}

{% block sidebar %}{% endblock %}
{% block header_panel %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block flash_messages %}{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('build/js/login.js') }}"></script>
{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="{{ path('homepage') }}">
                        <img class="align-content" src="{{ asset('assets/sufeeadmin/images/logo.png') }}" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form action="{{ path('security_login') }}" method="post">
                        <div class="form-group">
                            <label for="username">{{ 'label.username'|trans }}</label>
                            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">{{ 'label.password'|trans }}</label>
                            <input type="password" id="password" name="_password" class="form-control" />
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}